<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<%= gravitar_for @user, size: 220 %>

<% if @user.id == session[:user_id] %>
  <div class="text-center mt-4">
    <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary text-white " %>
  </div>
<% end %>

<h3 class="text-center mt-4"><%= @user.username %>'s articles</h3>
<div class="pagination-wrapper" >
  <div class="digg_pagination mt-4">
    <%= will_paginate @articles, class: "text-center" %>
  </div>
</div>
<%= render 'articles/article' %>
<div class="pagination-wrapper">
  <div class="digg_pagination mb-3">
    <%= will_paginate @articles %>
  </div>
</div>